<span class='projTitle'>sea gypsies: the far side of the world</span><br>
<span class='festivals'>bamff film festival / VIMFF</span><br>
<span class='projRole'>role: re-recording mix</span><br><br>

<iframe src="https://player.vimeo.com/video/127306388" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br><br>
<span class='disclaimer'>mixed at <%= link_to 'Disher Music & Sound', "//www.dishermusic.com/#about", :target => "_blank" %></span>