<span class='projTitle'>gut hack</span><br>
<span class='festivals'>SXSW official selection</span><br>
<span class='projRole'>role: sound design</span><br><br>

<%= image_tag('/images/guthackposter.jpg', :class => 'projImg') %>

<br><br>
<span class='disclaimer'>mixed at <%= link_to 'Disher Music & Sound', "//www.dishermusic.com/#about", :target => "_blank" %></span>