<span class='projTitle'>american paradise</span><br>
sundace film festival / SXSW<br>
role: rerecording mix<br><br>

<iframe src="//player.vimeo.com/video/199619694" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>