<iframe src="https://player.vimeo.com/video/196525169" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<br><br>
<span class='disclaimer'>visuals by <%= link_to 'Kyle Victory', "//kylevictory.myportfolio.com/", :target => "_blank" %></span>