<div class='pageDiv about'>

	<!-- <p class='construction'>page currently under construction - stay tuned!</p> -->

	<p class='aboutTxt'>
	<%= image_tag('/images/synth.gif', :class => 'aboutSynth') %><br>
	<a href="//www.facebook.com/lisa.devon.7" title="" class="masterTooltip" id="tooltip-lisa">lisa devon</a> is a san francisco based sound designer & engineer.<br>
	she specializes in sound for film, branded spots, & other visual media.<br>
	she also composes music & has a huge affinity for synthesizers.</p>

</div>