<div class='pageDiv'>

<!-- visible project blocks -->
	<div id='portfolio'> 
		<div class='project postVero'>
			<div class='postProject'>
				<span data-modal='post1Modal' class='projBtn'>vero_xsm</span>
			</div>
		</div>
		<div class='project postCisco'>
			<div class='postProject'>
				<span data-modal='post2Modal' class='projBtn'>cisco</span>
			</div>		
		</div>
		<div class='project postQueensway'>
			<div class='postProject'>
				<span data-modal='post3Modal' class='projBtn'>the queensway</span>
			</div>
		</div>

	</div>	


<!-- project modals -->
	<div id='post1Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'post_vero', layout: false %>
	  	</div>
	</div>
	
	<div id='post2Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'post_cisco', layout: false %>
	  	</div>
	</div>
	
	<div id='post3Modal' class='projModal'>
	 	<div class='projModalContent'>
	 		<span class='projClose'>&times;</span>
	    	<%= render partial: 'post_queensway', layout: false %>
	  	</div>
	</div>

</div>