body {
	margin: 2%;
}

a {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	color: red;
}

iframe {
	height: 25rem;
	width: 80%;
	text-align: center;
}



.titleBanner {
	text-align: center;
	margin-bottom: 4%;
}

	.titleBanner .titleName {
		font-size: 3rem;
	}
	.titleBanner .titleDescription {
		font-size: 1.2rem;
	}



.nav {
	float: left;
	position: fixed;
	width: 10%;
	margin: 4%;
	top: 20vh;
}

	.nav p {
		font-size: 1.1rem;
	}



.pageDiv {
	float: right;
	width: 82%;
	padding-top: 2%;
	margin-right: 4%;
}



//index
		.indexTxt {
			font-size: 4rem;
			font-weight: bold;
			font-family: Arial;
		}

//about
		.about {
			margin: auto;
			margin-top: 3vh;
		}

		.aboutTxt {
			font-size: 1rem;
		}

//connect
		.connect {
			margin: auto;
			margin-top: 3vh;
		}

		.icon {
			width: 6%;
			min-width: 50px;
			margin: 1%;
			opacity: 0.9;
		}


//film projects

		.filmAmericanParadise {
			background-image: url('/projectImgs/americanparadise.jpg');
		}

		.filmSeaGypsies {
			background-image: url('/projectImgs/seagypsies.jpg');
		}

		.filmFindingKukan {
			background-image: url('/projectImgs/findingkukan.jpg');		
		}

		.filmVoicesBeyondTheWall {
			background-image: url('/projectImgs/voicesbeyondthewalls.jpg');
		}

		.filmWinningGirl {
			background-image: url('/projectImgs/winninggirl.jpg');			
		}

		.filmGutHack {
			background-image: url('/projectImgs/guthack.jpg');
		}

//music projects

		.musicMagicianBag {
			background-image: url('/projectImgs/magicianbag.jpg')
		}

		.musicSelidim {
			background-image: url('/projectImgs/selidim.jpg')
		}

		.musicAllegretto {
			background-image: url('/projectImgs/allegretto.jpg')
		}

//post projects

		.postVero {
			background-image: url('/projectImgs/vero.jpg')
		}

		.postCisco {
			background-image: url('/projectImgs/cisco.jpg')
		}

		.postQueensway {
			background-image: url('/projectImgs/queensway.jpg')
		}


//post, film, music 
		.project {
			background-size: cover;
    		background-repeat:   no-repeat;
    		background-position: center center;
			width: 45%;
			height: 100%;
			margin: .1%;
			margin-bottom: .3%;
			display: inline-block;
			opacity: 0.65;
			background-color: black;
			border: 3px white solid;
		}

		.postProject, .musicProject, .filmProject {
			position: relative;
			margin-top: 20%;
			font-size: 2.5vw;
			color: black;
		}
		
		.postProject a, .musicProject a, .filmProject a, .projBtn{
			color: white;
			text-decoration: none;
			opacity: 0.75;
		}
		
		.postProject a:hover, .musicProject a:hover, .filmProject a:hover, .projBtn:hover {
			opacity: 100;
			text-shadow: 1px 1px black;
		  	cursor: pointer;
		}

		.projTitle {
			font-size: 1.5rem;
		}

		.projImg {
			text-align: center;
			width: 70%;
		}
		
		// modals
		.projModal {
			display: none;
		    position: fixed; 
		    z-index: 1;
		    left: 0;
		    top: 0;
		    width: 100%;
		    height: 100%; 
		    overflow: auto;
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
		    color: black;
		    text-align: center;
		}
		.projModalContent {
		    background-color: #d7efea;
		    margin: 15% auto; 
		    padding: 20px;
		    border: 1px solid #888;
		    width: 80%;
		}
		.projClose {
		    color: #aaa;
		    float: right;
		    font-size: 25px;
		    font-weight: bold;
		}
		.projClose:hover,
		.projClose:focus {
		    color: black;
		    text-decoration: none;
		    cursor: pointer;
		}



// individual project pages
.projectShow {
	width: 100%;
}


//resume
.resumeImg {
	width: 90%;
	text-align: center;
}

.resume h2 {
	font-size: 1.8rem;
}

.resume h3 {
	font-size: 1.3rem;
	margin-left: 2%;
}

.resume h4 {
	font-size: 1.05rem;
	font-style: italic;
	font-weight: normal;
	margin-left: 4%;
	margin-top: -12px;
}

.resume h5 {
	font-size: 1.1rem;
	font-weight: normal;
	margin-left: 4%;
	margin-top: -14px;
}

.resume ul {
	margin-top: -18px;
	margin-bottom: -3px;
}

.resume li {
	margin-left: 2%;
}

.resumeDownload {
	font-size: 1.2rem;
}






//browser size media queries
@media only screen and (max-width: 550px) {
		.nav {
			float: none;
			width: 100%;
			text-align: center;
			position: initial;
			margin: 1%;
		}

		.nav p {
			display: inline;
			font-size: 1.2rem;
			word-spacing: 2rem;
		}
		
		.pageDiv {
			float: none;
			width: 70%;
			margin: auto;
		}

		.project {
			display: block;
			margin: auto;
			width: 100%;
			height: 100%;
		}

		.postProject, .musicProject, .filmProject {
			font-size: 150%;
		}

		.connect {
			text-align: center;
		}
}

//mobile 
@media handheld, screen and (max-width: 500px) {
		.nav p {
			font-size: 200%;
		}

		.pageDiv {
			float: none;
			width: 70%;
			margin: auto;
			margin-right: 4%;
		}

		.project {
			display: block;
			margin: auto;
			width: 100%;
			height: 100%;
		}

		.postProject, .musicProject, .filmProject {
			font-size: 250%;
		}

		.connect {
			text-align: center;
		}
}