$font-stack1: 'Avenir', sans-serif;
$font-stack2: 'Raleway', sans-serif;
$font-stack3: 'lato', sans-serif;
$font-stack4: 'Dorsa', sans-serif;
$font-stack5: 'Open Sans', serif;
$font-stack6: 'Josefin Sans', sans-serif;

$color-purple: #aab0ff;
$color-charcol: #3c28d3;

$bg-color1: #595EA9;
$bg-color2: #C6C9FE;
$bg-color3: #444CB1;


//pages
body {
	color: white;
	margin: 0;
	background-color: $bg-color3;
	padding-bottom: 95px;
}

a {
	text-decoration: none;
	color: $color-charcol;
}
	a:visited {
		text-decoration: none;
		color: $color-charcol;
	}
	a:hover {
		color: $color-purple;
	}


iframe {
	height: 25rem;
	width: 80%;
	text-align: center;
}


.titleBanner {
	text-align: center;
	padding-bottom: 2%;
	background-color: $bg-color1;
}
	.titleBanner .titleName {
		// font-size: 3.5rem;
		font-size: calc(10px + 6vw);
		font-family: $font-stack2;
		font-weight: 400;
	}
	.titleBannerImg {
		text-align: center;
		width: 50%;
		padding-bottom: 2%;
		padding-top: 3%;
		margin: -2%;
	}
	.titleBanner .titleDescription {
		font-size: 1.2rem;
		font-family: $font-stack6;
	}
	.titleBanner .titleSpacer {
		font-weight: 100;
	}


 .nav {
 	color: black;
 	margin: auto;
   	background-color: $bg-color2;
   	padding: 2%;
   	text-align: center;
   	font-size: 1.5rem;
   	word-spacing: 0.9rem;
 }
	.nav p {
		display: inline-block;
		font-size: 1.1rem;
		font-family: $font-stack2;
		font-weight: 200;
	}
	.nav p:hover {
		font-weight: 600;
		font-style: italic;
	}

.pageDiv {
	// text-align: center;
	margin: auto;
	width: 96%;
	padding-top: 2%;
}

.footer {
	position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 80px;
    background-color: $bg-color1;
}
	.site-credit {
		text-align: center;
		padding-top: 4%;

	}
	.site-credit a {
		color: $bg-color2;
		font-weight: 200;
		letter-spacing: 0.3rem;
		font-size: 0.7rem;
	}
	.site-credit a:hover {
		font-style: italic;
	}

.pagedivider1,
.pagedivider2 {
	height: 8px;
	background-color: white;
}



//about
	.about {
		margin: auto;
		margin-top: -6%;
	}
	.aboutTxt {
		font-size: 1.12rem;
		font-family: $font-stack1;
		letter-spacing: .05rem;
		text-align: center;
	}
	.aboutSynth {
		width: 20%;
		min-width: 150px;
	}

	.tooltip {
	  display: none;
	  position: absolute;
	  width: 75px;
	  height: 75px;
	  border-radius: 15px 50px;
	  background-image: url('/images/sierra-img.jpg');
	  background-size: cover;
	  background-repeat:   no-repeat;
	  background-position: center center;
	}
	    .masterTooltip {
	      text-decoration: none;
	      color: inherit;
	    }
	

//connect
	.connect {
		// margin: auto;
		text-align: center;
		margin-top: 1vh;
	}
	.connect .emailInfo {
		font-size: 1.2rem;
		font-family: $font-stack5;
		font-weight: 200;
	}
	.connect .email {
		color: $color-purple;
		font-weight: 500;
		letter-spacing: .2rem;
		padding-left: 2%;
	}
	.connect .email:hover {
		font-style: italic;
	}
	.icon {
		width: 6%;
		min-width: 50px;
		margin: 1%;
		opacity: 0.9;
		-webkit-filter: grayscale(0%);
		filter: grayscale(0%);
	  -webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;
	}
	.icon:hover {
	  -webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}
	.lisaDrawing {
		width: 50%;
		background-color: #f4f5ff;
		min-width: 300px;
		text-align: center;
		border-radius: 50px;
		-moz-box-shadow: 0 0 10px #fff;
        -webkit-box-shadow: 0 0 10px #fff;
        box-shadow: 0px 0px 10px #fff;
	}



//film projects
	.filmAmericanParadise {
		background-image: url('/projectImgs/americanparadise.jpg');
	}
	.filmSeaGypsies {
		background-image: url('/projectImgs/seagypsies.jpg');
	}
	.filmFindingKukan {
		background-image: url('/projectImgs/findingkukan.jpg');		
	}
	.filmVoicesBeyondTheWall {
		background-image: url('/projectImgs/voicesbeyondthewalls.jpg');
	}
	.filmWinningGirl {
		background-image: url('/projectImgs/winninggirl.jpg');			
	}
	.filmGutHack {
		background-image: url('/projectImgs/guthack.jpg');
	}
//music projects
	.musicDusk {
		background-image: url('/projectImgs/dusk.jpg');
	}
	.musicMagicianBag {
		background-image: url('/projectImgs/magicianbag.jpg');
	}
	.musicSelidim {
		background-image: url('/projectImgs/selidim.jpg');
	}
	.musicAllegretto {
		background-image: url('/projectImgs/allegretto.jpg');
	}
//design projects
	.designVero {
		background-image: url('/projectImgs/vero.jpg');
	}
	.designCisco {
		background-image: url('/projectImgs/cisco.jpg');
	}
	.designSquare {
		background-image: url('/projectImgs/square.jpg');
	}
	.designDodo {
		background-image: url('/projectImgs/dodo.jpg');
	}
	.designAudi {
		background-image: url('/projectImgs/audi.jpg');
	}
	.designQueensway {
		background-image: url('/projectImgs/queensway.jpg');
	}


//design, film, music 
	.filmDiv, .musicDiv, .designDiv {
		text-align: center;
	}
	.project {
		background-size: cover;
   		background-repeat:   no-repeat;
   		background-position: center center;
		width: 45%;
		height: 100%;
		margin: .1%;
		margin-bottom: .3%;
		display: inline-block;
		opacity: 0.65;
		background-color: black;
		border: 3px white solid;
	}
	.project:hover {
		opacity: 100;
	}
	.designProject, .musicProject, .filmProject {
		position: relative;
		margin-top: 20%;
		font-size: 2.5vw;
		color: black;
	}
	.designProject a, .musicProject a, .filmProject a, .projBtn{
		color: white;
		text-decoration: none;
		font-family: $font-stack2;
		letter-spacing: 0.01rem;
		opacity: 0.75;
	}
	.designProject a:hover, .musicProject a:hover, .filmProject a:hover, .projBtn:hover {
		opacity: 100;
		text-shadow: 1px 1px black;
	  cursor: pointer;
	}
	// modals
		.projModal {
			display: none;
		  position: fixed; 
		  z-index: 1;
		  left: 0;
		  top: 0;
		  width: 100%;
		  height: 100%; 
		  overflow: auto;
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
		  color: black;
		  text-align: center;
		}
		.projModalContent {
		    background-color: #d7efea;
		    margin: 15% auto; 
		    padding: 20px;
		    border: 1px solid #888;
		    width: 80%;
		}
		.projClose {
		    color: #aaa;
		    float: right;
		    font-size: 25px;
		    font-weight: bold;
		}
		.projClose:hover,
		.projClose:focus {
		    color: black;
		    text-decoration: none;
		    cursor: pointer;
		}
		// individual project pages [modals]
			.projectShow {
				width: 100%;
			}
			.projTitle {
				font-size: 2rem;
				font-family: $font-stack6;
				letter-spacing: 0.2rem;
			}
			.festivals {
				font-family: $font-stack2;
				font-size: 1rem;
				font-style: italic;
				font-weight: 300;
			}
			.projRole {
				font-family: $font-stack1;
				font-size: 1.1rem;
				font-weight: 500;
				letter-spacing: 0.1rem;
			}
			.projImg {
				text-align: center;
				width: 70%;
			}	
			.disclaimer {
				font-family: $font-stack2;
				font-style: italic;
				font-size: 0.9rem;
			}


//resume
	h5 .skill {
		font-family: $font-stack6;
		font-weight: 300;
		font-size: 1.2rem;
	}
	h5 .skillBreak {
		margin-left: 2%;
		margin-right: 2%;
		font-weight: 100;
	}
	.resume h2 {
		font-size: 1.8rem;
		font-family: $font-stack1;
		font-weight: 600;
	}
	.resume h3 {
		font-size: 1.28rem;
		margin-left: 3%;
		font-family: $font-stack2;
		font-weight: 500;
	}
	.resume .jobRole, .resume .degree {
		letter-spacing: 0.3rem;
	}
	.resume h4 {
		font-size: 1rem;
		font-family: $font-stack1;
		font-style: italic;
		font-weight: 200;
		margin-left: 3%;
		margin-top: -17px;
	}
	.resume h5 {
		font-size: 1.1rem;
		font-weight: 400;
		margin-left: 5%;
		margin-top: -14px;
	}
	.resume ul {
		margin-top: -18px;
		margin-bottom: -3px;
	}
	.resume li {
		margin-left: 3%;
		font-family: $font-stack5;
		font-weight: 300;
		font-size: 0.9rem;
		letter-spacing: 0.1rem;
	}
	.resumeDownload {
		margin-left: 5%;
		margin-bottom: 4%;
		font-size: 1.2rem;
		font-family: $font-stack2;
	}
	.resumeDownloadLink {
		color: $color-purple;
		letter-spacing: 0.1rem;
		font-weight: 200;
	}
	.resumeDownloadLink:hover {
		font-weight: 600;
	}






//browser size media queries
@media only screen and (max-width: 700px) {
		body {
			overflow-x: hidden;
		}
		.nav {
			width: 100%;
			margin-left: -2%;
			text-align: center;
			position: initial;
			padding-top: 2%;
			padding-bottom: 2%;
		}
		.nav p {
			display: inline;
			font-size: 1.2rem;
			word-spacing: 2rem;
			padding-right: 2%;
			padding-left: 2%
		}
		.pageDiv {
			width: 100%;
			margin: auto;
		}
		.resume {
			margin: auto;
			padding: 6%;
			width: 80%;
		}
		.project {
			display: block;
			margin: auto;
			width: 100%;
			height: 100%;
		}
		.designProject, .musicProject, .filmProject {
			font-size: 250%;
		}
		.connect, .about {
			text-align: center;
		}
		.resumeDownload {
			text-align: center;
			margin: auto;
		}
}


//mobile 
@media handheld, screen and (max-width: 500px) {
		.nav p {
			font-size: 1rem;
		}
		.titleBannerImg {
			width: 80%;
		}
}
